version: '3.8'
services:
  ifidie-prod-api:
    container_name: ifidie-prod-api
    build:
      context: "../"
      dockerfile: deployments-prod/api/Dockerfile
    environment:
      - CONFIG_FILE_NAME=config-prod
      - CONFIG_FILE_TYPE=yaml
      - CONFIG_FILE_PATH=.
    ports:
      - '5500:8080'

  ifidie-prod-pg:
    container_name: ifidie-prod-pg
    build:
      context: "./postgres"
      dockerfile: Dockerfile
    environment:
      - POSTGRES_DB=IFIDIE
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '6500:5432'
    volumes: 
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql